/* Styling that only affects the landing page */
/* For styles that also affect other pages, see customstyles.css */

/* General layout classes */

main {
    margin-top:-20px;
}
h2.page-header {
  padding-top: 0px;
  margin-top: 50px;
  margin-bottom: -10px;
  /*border-bottom: 1px solid #0A76BB;*/
  border-bottom: 1px solid rgba(10,118,187, 0);
  font-size: 28px;
}
.row {
  margin-bottom: 40px;
}
strong {
  color: #040606;
}
.panel-precice {
  padding-top: 5px;
}
.panel-heading-precice {
  position: relative;
  /*left: -5px;
  padding: 10px 15px 10px 18px;
  border-left: 2px solid #ED762C;*/
  margin-bottom: -10px;
  padding: 10px 15px;
}
.panel-heading-precice strong {
  font-size: 1.2em;
}
/*.panel-heading-precice:before {
  content: "";
  display: block;
  border-right: 2px solid #ED762C;
  position: absolute;
  left: -5px;
  top: 0px;
  bottom: 0px;
  pointer-events: none;
  background: none;
}*/
.double-border {
  position: relative;
  /*left: -5px;
  padding: 10px 15px 10px 18px;
  border-left: 2px solid #ED762C;*/
  margin-bottom: -10px;
  padding: 10px 15px;
}
.double-border:before {
  content: "";
  display: block;
  border-right: 2px solid #ED762C;
  position: absolute;
  left: -5px;
  top: 0px;
  bottom: 0px;
  pointer-events: none;
  background: none;
}

/* General utility classes */

.orange {
  color: #ED762C;
}
.orange:hover {
  color: #040606;
}
.no-margin {
  margin: 0;
}
div.col-flex {
  display: flex;
  flex-flow: column;
  align-content: stretch;  /* file up remaining space */
}
.background-light {
  /*background-color: #ECF7FE;*/
  background-color: rgba(10,118,187,.08);
}
.background-light .panel-primary {
  /*border-color: #085E95;*/
  border-color: rgba(10,118,187,.2);
}
.background-light h2.page-header {
  border-bottom: 1px solid rgba(255,255,255,.0);
  color: #085E95;
  font-weight: 700;
}
.background-dark {
  background-color: #0A76BB;
  /*color: white;*/
}
.background-dark .panel {
  /*background-color: #0A76BB;*/
  /*background-color: #ECF7FE;*/
  background-color: white;
}
.background-dark .panel-primary {
  border-color: white;
}
.background-dark h2.page-header {
  border-bottom: 1px solid rgba(255,255,255,.0);
  color: white;
  font-weight: 400;
}
.background-dark strong {
  /*color: white;*/
}
.background-dark .btn-primary {
  border-color: white;
}


/* Jumbotron */

.jumbotron-precice {
  /*border-bottom: 1px solid #ED762C;
  border-top: 1px solid #0A76BB;*/
  background-color: rgba(10,118,187, .08);
}
.banner {
  margin-bottom: -10px;
  padding: 15px 0;
  color: #040606;
}

/* Stage */

h1.title {
    margin-top: 40px;
    color: #040606;
}
h2.subtitle {
    padding-top: 0px;
    margin-top: -5px;
    margin-bottom: 20px;
    font-weight: 400;
}
.action-button {
  margin-right: 4px;
  margin-bottom: 10px;
}
.action-button-container {
  margin-bottom: 20px;
}

/* USPs */
ul.usp {
  padding-inline-start: 1.75em;
}
li.usp {
  /*list-style-image: url(images/precice-icon_small.svg);*/
  margin-bottom: 0.5em;
}
div.panel.usp {
  margin-bottom: 0;
  flex: 1 1 auto;
}
div.image-holder.usp {
  padding: 20px;
  flex: 0 1 150px;
}

/* Adapter section */
a.adapter {
  text-decoration: none;
}
a.adapter > div.panel-primary {
  border-color: rgba(10,118,187, .8);
}
a.adapter:hover > div.panel-primary {
  background-color: rgba(10,118,187, .02);
}
img.adapter {
  /*border: 1px solid #0A76BB;*/
  height: 125px;
  width: 125px;
  object-fit: contain;
  /*padding: 10px;*/
  transition: all 400ms;
  /*margin: 20px auto;*/
}
img.adapter:hover {
   transform: scale(1.10);
}
img.adapter.custom-logo{
  padding: 0;
}
div.adapter {
  margin-top: 20px;
  /*height: 125px;
  width: 125px;
*/        }
.btn.adapter {
  margin: 20px 0;
}
.img-equivalent {
  height: 125px;
  width: 125px;
}
.adapter p {
  color: #040606;
  margin-top: 20px;
}

/* Testimonials */

i.fa-quote-left{
  color: darkgrey;
  padding-right: 0.5em;
}
i.fa-quote-left, i.fa-quote-right {
  color: darkgrey;
  padding-left: 0.5em;
}
p.quote {
  font-size: 1.2em;
  font-weight: 400;
}
img.testimonial {
  border-radius: 50%;
  border: 1px solid #ddd;
  height: 100px;
  width: 100px;
  float: left;
  margin: 0 15px 0 0;
}
.full-height {
  flex: 1 1 auto;
}

/* Logowall */

.logo, .logo > div, .logo > p {
  color: #333;
  opacity: 0.5;
  filter: grayscale(100%);
  transition: all 400ms;
}
@media (max-width: 992px) {
   .logo, .logo > div, .logo > p {
      opacity: 1;
      filter: grayscale(0%);
    }
}
.logo > p {
  margin: 0;
  text-decoration: none;
}
.logo:hover, .logo:hover > div, .logo:hover > p {
  opacity: 1;
  filter: grayscale(0%);
  text-decoration: none;
}
.logo:hover > div {
  transform: scale(1.05);
}
p.institution {
  font-size: 0.8em;
  font-weight: 400;
  line-height: 1.2em;
  margin-top: 0.5em;
}
p.country {
  font-size: 0.8em;
  font-weight: 700;
  /*margin-top: -0.25em;*/
  margin-bottom: 1em;
}
div.logo-holder {
  height: 75px;
}
div.logo-holder > img {
  max-height: 75px;
}
.no-padding {
  padding: 0;
}
