
/*body.print .container {max-width: 650px;}*/

body {
    font-size:12px;
}
.nav ul li a {border-top:0px; background-color:transparent; color: #808080; }
#navig a[href] {color: #040606 !important;}
table .table {max-width:650px;}

#navig li.sectionHead {
    font-weight: bold;
    font-size: 1.25em;
    color: #040606 !important;
}
#navig li.subSectionHead span{
    font-weight: normal;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 0.8em;
    color: #040606 !important;
}
#navig li {
    font-weight: normal;
}



#navig a[href]::after { content: leader(".") target-counter(attr(href), page); }

a[href]::after {
    content: " (page " target-counter(attr(href), page) ")"
}

a[href^="http:"]::after, a[href^="https:"]::after, a[href^="ftp:"]::after {
    content: "";
}

a[href] {
    color: #0A76BB !important;
}
a[href*="mailto"]::after, a[data-toggle="tooltip"]::after, a[href].noCrossRef::after {
    content: "";
}


@page {
    /*margin: 60pt 90pt 60pt 90pt;*/
    margin: 30pt 45pt 30pt 45pt;
    font-family: sans-serif;
    font-style:none;
    color: gray;
}

.printTitle {
    line-height:30pt;
    font-size:27pt;
    letter-spacing: -.5px;
    margin-bottom:5px;
    margin-top: 100px;
    color: #040606;
    font-weight: 500;
}

.printSubtitle {
    font-size: 19pt;
    color: #333 !important;
    line-height: 22pt;
    letter-spacing: -.5px;
    margin-bottom:100px;
}
.printTitleArea hr {
    color: #999999 !important;
    height: 2px;
    width: 100%;
}

.printTitleImage {
    max-width:300px;
    margin-bottom:100px;
}

#printTitleLogo {
    height: 84px;
}

.printVersion {
    font-size: 19pt;
    color: #0A76BB;
    line-height: 22pt;
    letter-spacing: -.5px;
    margin-bottom:20px;
}

#navig {
    /*page-break-before: always;*/
}

.copyrightBoilerplate {
    page-break-before:always;
    font-size:14px;
}

.lastGeneratedDate {
    font-style: italic;
    font-size:14px;
    color: gray;
}

.alert a {
    text-decoration: none !important;
}


body.title { page: title }

@page title {
    @top-left {
        content: " ";
    }
    @top-right {
        content: " "
    }
    @bottom-right {
        content: " ";
    }
    @bottom-left {
        content: " ";
    }
}

body.frontmatter { page: frontmatter }
body.frontmatter {counter-reset: page 1}


@page frontmatter {
    @top-left {
        content: "Table of Contents";
        font-size: 11px;
        font-style: italic;
    }
    @top-right {
        content: prince-script(guideName) " " prince-script(versionNumber);
        font-size: 11px;
    }

    @bottom-right {
        content: "Page " counter(page);
        font-size: 11px;
    }
    @bottom-left {
        content: "Generated: " prince-script(datestamp);
        font-size: 11px;
    }
}

body.first_page {counter-reset: page 1}

h1 { string-set: doctitle content() }

@page {
    @top-left {
        content: string(doctitle);
        font-size: 11px;
        font-style: italic;
    }
    @top-right {
        content: prince-script(guideName) " " prince-script(versionNumber);
        font-size: 11px;
    }

    @bottom-right {
        content: "Page " counter(page);
        font-size: 11px;
    }
    @bottom-left {
        content: "Generated: " prince-script(datestamp);
        font-size: 11px;
    }
}
.alert {
    background-color: #fafafa !important;
    border-color: #dedede !important;
    color: black;
}

pre {
    background-color: #fafafa;
}

/* Some fixes */
pre {
    font-size: 80%;
}
pre {
    margin: 1em 0;
    padding: .6em;
}
p {
    margin-bottom: 0.5em;
}
blockquote {
    font-size: 100%;
    margin-bottom: 0.5em;
}
pre > code {
  /*overflow: auto;
  word-wrap: normal;*/
  /*white-space: normal;*/
  overflow-x: initial;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.alert {
    margin: 1em 0;
    padding: .6em;
}
h1[id], h2[id], h3[id], h4[id], h5[id], h6[id], dt[id] {
    padding-top: 1.5em;
    margin-top: -1em;
}