[submodule "tutorials"]
	path = imported/tutorials
	url = https://github.com/precice/tutorials.git
	branch = restructure
[submodule "openfoam-adapter"]
	path = imported/openfoam-adapter
	url = https://github.com/precice/openfoam-adapter.git
	branch = docs
