[submodule "tutorials"]
	path = imported/tutorials
	url = https://github.com/precice/tutorials.git
	branch = develop
[submodule "openfoam-adapter"]
	path = imported/openfoam-adapter
	url = https://github.com/precice/openfoam-adapter.git
	branch = develop
[submodule "imported/aste"]
	path = imported/aste
	url = https://github.com/precice/aste.git
	branch = develop
[submodule "imported/micro-manager"]
	path = imported/micro-manager
	url = https://github.com/precice/micro-manager.git
	branch = develop
[submodule "imported/fmi-runner"]
	path = imported/fmi-runner
	url = https://github.com/precice/fmi-runner
	branch = develop
