repository: precice/precice.github.io_future

output: web
# this property is useful for conditional filtering of content that is separate from the PDF.

topnav_title: preCICE
# this appears on the top navigation bar next to the home button

site_title: preCICE - The Coupling Library
# this appears in the html browser tab for the site title (seen mostly by search engines, not users)

company_name: preCICE
# this appears in the footer

github_editme_path: precice/precice.github.io_future/blob/master/
# if you're using Github, provide the basepath to the branch you've created for reviews, following the sample here. if not, leave this value blank.

# gitlab_editme_path: tomjoht/documentation-theme-jekyll/blob/gh-pages/
# if you're using GitLab, provide the basepath to the branch you've created for reviews, following the sample here. if not, leave this value blank.

google_analytics:
# if you have google-analytics ID, put it in. if not, edit this value to blank.

host: 127.0.0.1
# the preview server used. Leave as is.

port: 4000
# the port where the preview is rendered. You can leave this as is unless you have other Jekyll builds using this same port that might cause conflicts. in that case, use another port such as 4006.

exclude:
  - .idea/
  - .gitignore
  - vendor
  - imported
  - README.md
  - var/
  - pdf/
  - pdfconfigs/
  - createtag
  - pdf-docs.sh
# these are the files and directories that jekyll will exclude from the build

include:
  - imported/tutorials/*/docs

feedback_subject_line: XXX

feedback_email: email
# used as a contact email for the Feedback link in the top navigation bar

# feedback_disable: true
# if you uncomment the previous line, the Feedback link gets removed

# feedback_text: "Need help?"
# if you uncomment the previous line, it changes the Feedback text

# feedback_link: "http://helpy.io/"
# if you uncomment the previous line, it changes where the feedback link points to

highlighter: rouge
# library used for syntax highlighting

markdown: kramdown
kramdown:
  input: GFM
  auto_ids: true
  hard_wrap: false
  syntax_highlighter: rouge
  # math_engine: katex
  # math_engine_opts: {}
# filter used to process markdown. note that kramdown differs from github-flavored markdown in some subtle ways


collections_dir: collections
collections:
  - testimonials
  - publications
  # tooltips:
  #   output: false
# collections are declared here. this renders the content in _tooltips and processes it, but doesn't output it as actual files in the output unless you change output to true

defaults:
  -
    scope:
      path: "pages"
      type: "pages"
    values:
      layout: "page"
      comments: true
      # if you don't want to use Commento.io and just hide comments, change true to false wherever you see the comments property
      search: true
      sidebar: home_sidebar
      topnav: topnav
  -
    scope:
      path: "pages/docs"
      type: "pages"
    values:
      layout: "page"
      comments: false
      # if you don't want to use Commento.io and just hide comments, change true to false wherever you see the comments property
      search: true
      sidebar: docs_sidebar
      topnav: topnav
      toc: true
  -
    scope:
      path: "pages/tutorials"
      type: "pages"
    values:
      layout: "page"
      comments: false
      # if you don't want to use Commento.io and just hide comments, change true to false wherever you see the comments property
      search: true
      sidebar: tutorial_sidebar
      topnav: topnav
      toc: true
  -
    scope:
      path: "pages/community"
      type: "pages"
    values:
      layout: "page"
      comments: false
      # if you don't want to use Commento.io and just hide comments, change true to false wherever you see the comments property
      search: true
      sidebar: community_sidebar
      topnav: topnav
      toc: true

  # Imports
  # Tutorials
  -
    scope:
      path: "imported/tutorials/*/docs/images"
    values:
      image: true
  -
    scope:
      path: "imported/tutorials/*/docs/instructions.md"
      type: "pages"
    values:
      layout: "page"
      comments: false
      # if you don't want to use Commento.io and just hide comments, change true to false wherever you see the comments property
      search: true
      sidebar: tutorial_sidebar
      topnav: topnav
      toc: true


# these are defaults used for the frontmatter for these file types

sidebars:
- home_sidebar
- docs_sidebar
- tutorials_sidebar
- community_sidebar

description: "preCICE (Precise Code Interaction Coupling Environment) is an open-source coupling library for partitioned simulations of multi-physics scenarios such as fluid-structure interaction or fluid-structure-acoustic interaction."

# the description is used in the feed.xml file

# needed for sitemap.xml file only
# url: http://idratherbewriting.com
# baseurl: /documentation-theme-jekyll


github: [metadata]

algolia:
  application_id: I5M4FAJYBH
  index_name:     jekyll # You can replace that with whatever name you want
  search_only_api_key: d6f8d2f113bc342ee3f42421d0153bad
