---
title: preCICE - The Coupling Library
permalink: index.html
keywords:
toc: false
hide_sidebar: true
layout: landing_page
---

<!-- Lead stage -->

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col-lg-12">
        <h1 class="title no-anchor">Welcome to <img src="images/preCICE_logo_42px.svg" alt="preCICE"></h1>
        <h2 class="subtitle no-anchor">The coupling library for partitioned multi-physics simulations.</h2>
        <div class="action-button-container">
          <span id="github-button">
            <a href="https://github.com/precice/precice/" class="btn btn-default no-icon action-button" role="button">Star on Github &nbsp;<i class="fas fa-star"></i></a>
          </span>
          <span id="latest-release">
            <!-- This will be replaced by the handleResponse() when the page is loaded -->
            <a href="https://github.com/precice/precice/releases/tag/v{{ site.precice_version }}" class="btn btn-secondary no-icon action-button" role="button">Latest v{{ site.precice_version }} &nbsp;<i class="fas fa-download"></i></a>
          </span>
          <a href="/quickstart.html" class="btn btn-primary no-icon action-button" role="button">Get started &nbsp;<i class="fas fa-chevron-right"></i></a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <p>
          preCICE is an <strong>open-source coupling library and ecosystem</strong> for general partitioned multi-physics and multi-scale simulations, including surface and volume coupling.
        </p>
        <p>
          Partitioned means that <strong>preCICE couples existing programs/solvers</strong> capable of simulating a subpart of the complete physics involved in a simulation. This allows for the high flexibility that is needed to keep a decent time-to-solution for complex coupled problems.
        </p>
        <p class="no-margin">
          The software offers convenient methods for transient equation coupling, communication, time interpolation, and data mapping.
        </p>
      </div>
      <div class="col-md-6">
        <img class="img-responsive col-xs-12" src="images/lead-image-precice.svg" alt="visualisation of how preCICE couples different solvers">
        <!-- https://stackoverflow.com/questions/21943108/bootstrap-3-img-responsive-images-are-not-responsive-inside-fieldset-in-firefox -->
      </div>
    </div>

  </div> <!-- main -->
</div> <!-- container -->

<!-- Latest News Section -->
<div id="latest-news" class="section">
  <div class="container">
    <h2 class="section-header text-center">Latest news</h2>

    <div id="news-container" class="row equal">
      <!-- News cards will be inserted dynamically -->
      <p id="loading-news">Loading latest news...</p>
    </div>

    
    <div class="row" style="margin-top: 25px;">
      <div class="col-lg-12 text-center">
        <a href="https://precice.discourse.group/c/news/5"
           class="btn btn-primary no-icon"
           role="button"
           target="_blank"
           rel="noopener noreferrer">
          More news &nbsp;<i class="fas fa-chevron-right"></i>
        </a>
      </div>
    </div>

  </div>
</div>

<!-- USP Section, full blead layout  -->
<div class="container">
  <div class="section">

    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-header">Prepared for the next generation of multi-physics simulations</h2>
      </div>
    </div>

    <div class="row equal">
      <div class="col-md-3 col-sm-6 col-flex">
        <div class="image-holder usp">
          <img class="img-responsive center-block" src="images/usp/usp-minimal.svg" alt="non-invasive integration">
        </div>
        <div class="panel panel-primary panel-precice usp">
          <div class="panel-heading-precice text-left">
            <strong>Minimally invasive integration</strong>
          </div>
          <div class="panel-body">
            <ul class="usp">
              <li class="usp">Elegant library approach</li>
              <li class="usp">High-level API in C++, C, Fortran, Python, Matlab</li>
            </ul>
            <a href="couple-your-code-overview.html">Learn more &nbsp;<i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-flex">
        <div class="image-holder usp">
          <img class="img-responsive center-block" src="images/usp/usp-arbitrary.svg" alt="Coupling of programs">
        </div>
        <div class="panel panel-primary panel-precice usp">
          <div class="panel-heading-precice text-left">
            <strong>Coupling of arbitrary many programs</strong>
          </div>
          <div class="panel-body">
            <ul class="usp">
              <li class="usp">Arbitrary combinations of strong and weak interactions</li>
              <li class="usp">Arbitrary many solvers</li>
            </ul>
            <a href="configuration-coupling-multi.html">Learn more &nbsp;<i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-flex">
        <div class="image-holder usp">
          <img class="img-responsive center-block" src="images/usp/usp-numerics.svg" alt="numerical methods">
        </div>
        <div class="panel panel-primary panel-precice usp">
          <div class="panel-heading-precice text-left">
            <strong>State-of-the-art numerical methods</strong>
          </div>
          <div class="panel-body">
            <ul class="usp">
              <li class="usp">Robust quasi-Newton acceleration</li>
              <li class="usp">Radial-basis function data mapping</li>
            </ul>
            <a href="fundamentals-literature-guide.html">Learn more &nbsp;<i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-flex">
        <div class="image-holder usp">
          <img class="img-responsive center-block" src="images/usp/usp-scalability.svg" alt="scalability">
        </div>
        <div class="panel panel-primary panel-precice usp">
          <div class="panel-heading-precice text-left">
            <strong>Scalability up to complete supercomputers</strong>
          </div>
          <div class="panel-body">
            <ul class="usp">
              <li class="usp">Pure peer-to-peer approach</li>
              <li class="usp">Support of heterogenous hardware (CPU/GPU)</li>
              <li class="usp">Efficient also on a laptop</li>
            </ul>
            <a href="fundamentals-literature-guide.html#parallel-and-high-performance-computing">Learn more &nbsp;<i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- section -->
</div> <!-- container -->

<!-- Adapter section  -->
<div class="background-light">
<div class="container">
  <div class="section">

    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-header">Ready-to-use with your favourite open-source solver</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>Several free and proprietary codes are currently coupled with preCICE. Pick one of our official adapters below or check out our <a href="community-projects.html">community projects</a>.</p>
      </div>
    </div>

    <div class="row equal">
      <div class="col-md-2 col-md-4 col-xs-6 col-flex">
        <a class="adapter" href="adapter-openfoam-overview.html"><div class="panel panel-primary panel-body full-height text-center">
          <img class="img-responsive adapter center-block" src="images/logo/logo-openfoam.png" alt="openFOAM logo" title="Couple with openFOAM">
          <p>OpenFOAM &nbsp;<i class="fas fa-chevron-right"></i></p>
        </div></a>
      </div>
      <div class="col-md-2 col-md-4 col-xs-6 col-flex">
        <a class="adapter" href="adapter-calculix-overview.html"><div class="panel panel-primary panel-body full-height text-center">
          <img class="img-responsive adapter center-block" src="images/logo/logo-calculix.png" alt="CalculiX logo" title="Couple with CalculiX">
          <p>CalculiX &nbsp;<i class="fas fa-chevron-right"></i></p>
        </div></a>
      </div>
      <div class="col-md-2 col-md-4 col-xs-6 col-flex">
        <a class="adapter" href="adapter-fenics.html"><div class="panel panel-primary panel-body full-height text-center">
          <img class="img-responsive adapter center-block" src="images/logo/logo-fenics.png" alt="FEniCS logo" title="Couple with FEniCS">
          <p>FEniCS &nbsp;<i class="fas fa-chevron-right"></i></p>
        </div></a>
      </div>
      <div class="col-md-2 col-md-4 col-xs-6 col-flex">
        <a class="adapter" href="adapter-dealii-overview.html"><div class="panel panel-primary panel-body full-height text-center">
          <img class="img-responsive adapter center-block" src="images/logo/logo-dealii.png" alt="deal.II logo" title="Couple with deal.II">
          <p>deal.II &nbsp;<i class="fas fa-chevron-right"></i></p>
        </div></a>
      </div>
      <div class="col-md-2 col-md-4 col-xs-6 col-flex">
        <a class="adapter" href="adapter-nutils.html"><div class="panel panel-primary panel-body full-height text-center">
          <img class="img-responsive adapter center-block" src="images/logo/logo-nutils.png" alt="Nutils logo" title="Couple with Nutils">
          <p>Nutils &nbsp;<i class="fas fa-chevron-right"></i></p>
        </div></a>
      </div>
      <div class="col-md-2 col-md-4 col-xs-6 text-center">
        <a class="adapter" href="adapters-overview.html">
          <div class="img-equivalent vertical-align center-block">
            <i class="fas fa-chevron-right fa-4x blue center-block"></i>
          </div>
        </a>
        <a href="adapters-overview.html" class="adapter" role="button">All adapters &nbsp;<i class="fas fa-chevron-right"></i></a>
      </div>
    </div>

  </div> <!-- section -->
</div> <!-- container -->
</div> <!-- background-light -->

<!-- Testimonials, full bleed layout -->

<div class="background-dark">
  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col-lg-12">
          <h2 class="section-header">What our community is saying</h2>
        </div>
      </div>

      <div class="row equal">
        <div class="col-md-4 col-flex">
          <div class="panel panel-primary panel-body full-height">
            <p class="quote"><a href="community-projects.html#evaluation-of-heart-balve-biomechanics"><i class="fas fa-quote-left"></i>We are using preCICE as it can handle numerical simulations of large sizes with ease as opposed to previous in-house couplers.<i class="fas fa-quote-right"></i></a></p>
            <div class="vertical-align">
              <img class="testimonial" src="images/testimonial_kyle_square.jpg" alt="simulation biomechanics">
              <div>
                <p><strong>—Kyle Davis</strong></p>
                <p>University of the Free State, Department of Cardiothoracic Surgery, South Africa</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-flex">
          <div class="panel panel-primary panel-body full-height">
            <p class="quote"><a href="community-projects.html#fluid-structure-interaction-on-flapping-wings"><i class="fas fa-quote-left"></i>The large number of coupling functionalities in preCICE gives the user the opportunity to build advanced and scalable simulations with ease.<i class="fas fa-quote-right"></i></a></p>
            <div class="vertical-align">
              <img class="testimonial" src="images/testimonial_derek_square.jpg" alt="simulation aerodynamics">
              <div>
                <p><strong>—Derek Risseeuw</strong></p>
                <p>Aerodynamics, Faculty of Aerospace Engineering, TU Delft, The Netherlands</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-flex">
          <div class="panel panel-primary panel-body full-height">
            <p class="quote"><a href="community-projects.html#hybrid-simulation-methods-for-wind-modelling-in-urban-areas"><i class="fas fa-quote-left"></i>With preCICE, we could realize an efficient CPU-GPU coupling of our in-house lattice Boltzmann solver and OpenFOAM.<i class="fas fa-quote-right"></i></a></p>
            <div class="vertical-align">
              <img class="testimonial" src="images/testimonial_manchester_square.jpg" alt="simulation cpu-gpu">
              <div>
                <p><strong>—Marta Camps Santasmasas</strong></p>
                <p>Aerodynamics research group, MACE, The University of Manchester, UK</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <a href="community-projects.html" class="btn btn-primary" role="button">Explore all community stories &nbsp;<i class="fas fa-chevron-right"></i></a>
        </div>
      </div>

    </div> <!-- main -->
  </div> <!-- section -->
</div> <!-- dark-background -->

<!-- Science & open source section -->

<div class="container">
  <div  class="section">

    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-header">Academic at heart, 100% free software</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <p>preCICE has been developed by three generations of doctoral candidates from the <a href="https://www.cs.cit.tum.de/en/sccs/home/">Chair of Scientific Computing</a> at the <strong>Technical University of Munich</strong> and from the <a href="https://www.ipvs.uni-stuttgart.de/">Institute for Parallel and Distributed Systems</a> at the <strong>University of Stuttgart</strong>. We develop everything openly on GitHub, the preCICE library is licensed under LGPLv3, and every other component is developed under compatible free software licenses. <a href="fundamentals-license.html">More information.</a></p>
        <p>You can <strong>cite the preCICE library</strong> using the following paper. Please also consider citing the adapters you use, as well as the <a href="installation-distribution.html">preCICE Distribution</a> for <strong>reproducibility</strong>. You can find the respective references in our <a href="fundamentals-literature-guide.html">literature guide</a>.</p>
      </div>
      <div class="col-md-6 equal vertical-align">
        <div class="col-md-4 col-xs-4 col-flex">
          <a class="no-icon" href="https://www.cs.cit.tum.de/en/sccs/home/"><img class="img-responsive center-block uni-logo" src="images/logo/logo_tum_400px.png" alt="TUM logo"></a>
        </div>
        <div class="col-md-4 col-xs-4 col-flex">
          <a class="no-icon" href="https://www.ipvs.uni-stuttgart.de/"><img class="img-responsive center-block uni-logo" src="images/logo/logo_stuttgart_400px.png" alt="Uni Stuttgart logo"></a>
        </div>
        <div class="col-md-4 col-xs-4 col-flex">
          <a class="no-icon github-link" href="https://github.com/precice/precice">
            <div class="img-equivalent-uni-logo text-center center-block">
              <i class="fab fa-github fa-4x"></i>
              <p><strong>preCICE on Github</strong></p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-0 hidden-xs text-center">
        <a class="book-container no-icon" href="https://doi.org/10.12688/openreseurope.14445.2" target="_blank" rel="noreferrer noopener">
          <div class="book center-block">
            <img class="no-margin" alt="preCICE reference paper" src="images/paper-v2-thumbnail.jpg" title="preCICE v2: A sustainable and user-friendly coupling library">
          </div>
        </a>
      </div>
      <div class="col-md-7 col-sm-9 col-xs-12">
        <div class="panel panel-primary panel-precice">
          <div class="panel-heading-precice">
            <strong>preCICE v2: A sustainable and user-friendly coupling library</strong>
          </div>
          <div class="panel-body">
            <p><em>Gerasimos Chourdakis, Kyle Davis, Benjamin Rodenberg, Miriam Schulte, Frédéric Simonis, Benjamin Uekermann et al.</em>, <strong>2022</strong>. In Open Research Europe, 2:51.</p>
            <a href="https://doi.org/10.12688/openreseurope.14445.2">Publisher's Site</a>&nbsp;&nbsp;
            <a href="assets/precice-v2.bib">Download BibTeX &nbsp;<i class="fas fa-download"></i></a>
          </div>
        </div>
        <a href="{{ site.precice_v2_citations_url }}" class="btn btn-default no-icon literature-link" role="button">Citations of preCICE v2 paper ({{ site.precice_v2_citations }}) &nbsp;<i class="fas fa-chevron-right"></i></a>
        <a href="{{ site.precice_v1_citations_url }}" class="btn btn-default no-icon literature-link" role="button">preCICE v1 ({{ site.precice_v1_citations }}) &nbsp;<i class="fas fa-chevron-right"></i></a>
        <a href="fundamentals-literature-guide.html" class="btn btn-primary literature-link" role="button">Literature guide &nbsp;<i class="fas fa-chevron-right"></i></a>
      </div>
    </div>

  </div> <!-- section -->
</div> <!-- container -->

<!-- Community -->

<div class="background-light">
  <div class="container">
    <div  class="section">

      <div class="row">
        <div class="col-lg-12">
          <h2 class="section-header">Join the community!</h2>
        </div>
      </div>

      <div class="row equal">
        <div class="col-md-8 col-flex">
          <p>We develop everything in the open, with continuous feedback by a vivid community. Be part of it:</p>
          <ul>
            <li><strong>Ask for help and help others</strong> in the <a href="https://precice.discourse.group/">preCICE forum</a> and register to receive news.</li>
            <li>Directly <strong>edit the documentation</strong>. We review and help - nothing can go wrong.</li>
            <li>Report issues on <a href="https://github.com/precice/">GitHub</a> and help us solve them for everyone.</li>
            <li><a href="community-contribute-to-precice.html">Contribute</a> code and simulation examples - we help you with guidelines, tools, and reviews.</li>
            <li><strong>Meet the community</strong> in one of the <a href="community.html">preCICE workshops and conference sessions</a>.</li>
            <li>
              Subscribe to our <b>quarterly newsletter</b> including:
              <ul>
                <li>New publications</li>
                <li>New features</li>
                <li>New adapters, bindings, tools, tutorials, and more</li>
                <li>Upcoming events and news from the community</li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-flex">
          <b>The quarterly preCICE newsletter</b>
          {% include newsletter.html %}
        </div>
      </div>
    </div> <!-- section -->
  </div> <!-- container -->
</div> <!-- light background -->

<!-- Precice support program  -->

<div class="background-dark">
  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col-lg-12">
          <h2 class="section-header">You support preCICE – preCICE supports you</h2>
        </div>
      </div>

      <div class="row equal">
        <div class="col-md-8 col-flex">
          <p>As the developers of preCICE, we enjoy supporting our academic and industry users, but due to the growing demand, we are not able to service all support requests any more. We are introducing <strong>preCICE support</strong> as a way to contribute to sustainable open-source software development and to ensure preCICE is developed and maintained in the future. Supporting preCICE comes with several benefits:</p>
          <ul>
            <li><strong>Increased success rate</strong> for your research proposal (include preCICE as a partner, software provider, or sub-contractor)</li>
            <li><strong>Priority support</strong> and direct access to the preCICE developers</li>
            <li>Private, on-site support and bespoke training</li>
          </ul>
          <p>We offer different levels of support for industry and academia.</p>
        </div>

        <div class="col-md-4 col-flex">
          <div class="panel panel-primary panel-body full-height">
            <div class="vertical-align">
              <img class="img-responsive center-block precice-support" src="images/precice-support.svg" alt="precice support program logo">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <a href="community-support-precice.html" class="btn btn-primary" role="button">Support preCICE - see options &nbsp;<i class="fas fa-chevron-right"></i></a>
        </div>
      </div>

    </div> <!-- main -->
  </div> <!-- section -->
</div> <!-- dark-background -->

<!-- FAQs -->

<div class="background-light">
  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col-lg-12">
          <h2 class="section-header">Frequently asked questions (FAQ)</h2>
        </div>
      </div>

      <div class="row equal">
        <div class="col-md-4 col-sm-6 col-flex">
          <div class="panel panel-primary panel-precice usp">
            <div class="panel-heading-precice text-left">
              <strong>Can preCICE be used for volume coupling?</strong>
            </div>
            <div class="panel-body">
              <p>Yes. In preCICE v3 there have been many changes and improvements regarding large meshes. The following has ...</p>
              <a class="no-icon" href="https://precice.discourse.group/t/can-precice-be-used-for-volume-coupling/27/9">Learn more &nbsp;<i class="fas fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-flex">
          <div class="panel panel-primary panel-precice usp">
            <div class="panel-heading-precice text-left">
              <strong>What are best practices to write a new adapter?</strong>
            </div>
            <div class="panel-body">
              <p>There are <a href="community-guidelines-adapters.html">guidelines for adapters</a>, as well as for <a href="community-guidelines-application-cases.html">application cases</a>, as part of the ecosystem standardization ...</p>
              <a class="no-icon" href="https://precice.discourse.group/t/what-are-best-practices-to-write-a-new-adapter/44/3">Learn more &nbsp;<i class="fas fa-chevron-right" ></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-flex">
          <div class="panel panel-primary panel-precice usp">
            <div class="panel-heading-precice text-left">
              <strong>Can preCICE be used for one-way coupling?</strong>
            </div>
            <div class="panel-body">
              <p>Yes! Several people are doing this already. Even though there may be other ways to do one-way coupling, it may ...</p>
              <a class="no-icon" href="https://precice.discourse.group/t/can-precice-be-used-for-one-way-coupling/28/2">Learn more &nbsp;<i class="fas fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <a href="fundamentals-faq.html" class="btn btn-primary no-icon" role="button">More questions &nbsp;<i class="fas fa-chevron-right"></i></a>
        </div>
      </div>

    </div> <!-- section -->
  </div> <!-- container -->
</div> <!-- background-light -->

<!-- Logowall -->

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-header">Tried and tested by a global community</h2>
      </div>
    </div>

    <div class= "row less-bottom-margin">
      <div class="col-lg-12">
        <p>Through the <strong>community-driven development</strong> approach, preCICE has become one of the leading coupling libraries for multi-physics simulations both in <strong>academia and industry</strong>. The wide variety of application fields ranges from aerodynamics to astronautics, automotive manufacturing, wind energy, biomechanics, biomimetics, marine engineering, nuclear fusion, reactor safety, geophysical systems, and many more.</p>
      </div>
    </div>

    {% assign logowall = site.data.logowall %}

    {% for row in logowall %}
    <div class="row no-margin">
    {% for column in row.columns %}
      <div class="col-md-6 col-xs-12 no-padding">
    {% for logo in column.logos %}
        <div class="col-md-3 col-sm-3 col-xs-3 text-center"> <!--  vertical-align -->
          <a href="{{logo.link}}" class="logo no-icon">
            <div class="logo-holder vertical-align "> <!-- center-block -->
              <img class="img-responsive center-block" src="images/logo/{{logo.logo}}" alt="{{logo.name}}, {{logo.country}}"
             loading="lazy">
            </div>
            <p class="institution">{{logo.name}}</p>
            <p class="country">{{logo.country}}</p>
          </a>
        </div>
    {% endfor %}
      </div>
    {% endfor %}
    </div>
    {% endfor %}

    <div class="row">
      <div class="col-lg-12">
        <a href="community.html" class="btn btn-primary" role="button">Explore preCICE community &nbsp;<i class="fas fa-chevron-right"></i></a>
      </div>
    </div>

  </div> <!-- section -->
</div> <!-- container -->

<!-- Code example -->

<div class="background-light">
  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col-lg-12">
          <h2 class="section-header">How does it look like?</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <p>
            In this tutorial, we couple the CFD code OpenFOAM with a C++ rigid body solver for fluid-structure interaction, using a serial-explicit coupling, as defined in the <a href="configuration-overview.html">preCICE configuration file</a>.
            OpenFOAM loads a ready-to-use <a href="adapter-openfoam-overview.html">adapter</a>, while the C++ code uses the <a href="couple-your-code-api.html">preCICE API</a>.
            OpenFOAM starts and waits for the other code. After they both start,
            they find each other perform a black-box coupled simulation.
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="hidden-sm hidden-xs">
            <script id="asciicast-RqGhiiS8jf2fKTaXgiNn73B1G" src="https://asciinema.org/a/RqGhiiS8jf2fKTaXgiNn73B1G.js" data-size="small" async></script>
          </div>
          <div class="visible-sm visible-xs" style="margin-bottom: 5px;">
            <a class="no-icon" href="https://asciinema.org/a/RqGhiiS8jf2fKTaXgiNn73B1G" target="_blank"><img class="img-responsive center-block" src="https://asciinema.org/a/RqGhiiS8jf2fKTaXgiNn73B1G.svg" alt="code animation"/></a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <a href="community-channels.html" class="btn btn-default next-steps-link no-icon"
            role="button">Follow preCICE &nbsp;<i class="fas fa-chevron-right"></i></a>
          <a href="https://precice.discourse.group/c/what-is/9" class="btn btn-default next-steps-link no-icon"
            role="button">Is preCICE for me? &nbsp;<i class="fas fa-chevron-right"></i></a>
          <a href="quickstart.html" class="btn btn-primary next-steps-link no-icon"
            role="button">Run this tutorial yourself &nbsp;<i class="fas fa-chevron-right"></i></a>
        </div>
      </div>

    </div> <!-- section -->
  </div> <!-- container -->
</div> <!-- background-dark -->
