<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch-theme-algolia.min.css">

<script>
const algoliaSearch = instantsearch({
  appId: '{{ site.algolia.application_id }}',
  apiKey: '{{ site.algolia.search_only_api_key }}',
  indexName: '{{ site.algolia.index_name }}'
});

const hitTemplate = function(hit) {
  let date = '';
  if (hit.date) {
    date = moment.unix(hit.date).format('MMM D, YYYY');
  }

  let url = `{{ site.baseurl }}${hit.url}#${hit.anchor}`;

  const title = hit._highlightResult.title.value;

  let breadcrumbs = '';
  if (hit._highlightResult.headings) {
    breadcrumbs = hit._highlightResult.headings.map(match => {
      return `<span class="result-breadcrumb">${match.value}</span>`
    }).join(' > ')
  }

  const content = hit._highlightResult.html.value;

  return `
    <div class="result-item">
    <h2><a class="result-link" href="${url}">${title}</a></h2>
    {{#breadcrumbs}}<a href="${url}" class="result-breadcrumbs">${breadcrumbs}</a>{{/breadcrumbs}}
    <div class="result-snippet">${content}</div>
    </div>
  `;
}

algoliaSearch.addWidget(
  instantsearch.widgets.searchBox({
    container: '#search-input',
    placeholder: 'Search ...',
    poweredBy: true, // This is required if you're on the free Community plan
    magnifier: false,
    autofocus: false
  })
);

algoliaSearch.addWidget(
  instantsearch.widgets.hits({
    container: '#search-results',
    templates: {
      item: hitTemplate
    }
  })
);

algoliaSearch.start();

/* some hacky JS to hide the search results until we move to docsearch (which is a true autocomplete-type search) */
document.addEventListener('mouseup', function(e) {
  var results = document.getElementById('search-results');
  if (!results.contains(e.target)) {
    results.style.display = 'none';
  }
});
document.addEventListener('mouseup', function(e) {
  var input = document.getElementById('search-input');
  var results = document.getElementById('search-results');
  if (input.contains(e.target)) {
    results.style.display = 'block';
  }
});

</script>

<style type="text/css">
/* has to be placed here to override defaults */
.ais-search-box--powered-by {
  margin-top: -15px;
  padding-right: 5px;
}
.nav li a.ais-search-box--powered-by-link {
  padding: 0;
  background-color: transparent;
  display: inline-block;
  /*padding-right: 15px;*/
}
.ais-search-box--input {
  padding-left: 10px;
  border-color: #0A76BB;
}
.ais-search-box {
  padding: .5em;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-top: 0px;
  width: 20em;
  font-size: 0.8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*border-color: #0A76BB;*/
  height: 50px;
}
/* hide results div at page load */
div#search-results {
  display: none;
}
</style>