<footer class="background-dark">
  <div class="container">

{% if page.layout != "landing_page" %}
    <div class="row equal">
      <div class="col-md-6" style="background:white;border-radius:1rem;padding:0 3rem;margin:2rem auto;">
        <h2> The preCICE newsletter </h2>
        {% include newsletter.html %}
        </div>
    </div>
{% endif %}

    <div class="row equal">
      <div class="col-md-4">
        <nav aria-label="Footer left">
          <ul class="list-unstyled">
            <li>
              <a href="fundamentals-literature-guide.html">Cite preCICE</a>
            </li>
            <li>
              <a href="community-contribute-to-precice.html">Contribute</a>
            </li>
            <li>
              <a href="community-support-precice.html">Get support</a>
            </li>
            <li>
              <a href="community-training.html">Get training</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="col-md-4">
        <nav aria-label="Footer right">
          <ul class="list-unstyled">
            <li>
              <a class="no-icon" href="https://precice.discourse.group">Forum on Discourse</a>
            </li>
            <li>
              <a class="no-icon" href="https://github.com/precice">preCICE on GitHub</a>
            </li>
            <li>
              <a href="fundamentals-license.html">License</a>
            </li>
            <li>
              <a href="about.html">Impressum / Legal</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="col-md-4">
        <p>
        <a class="no-icon" rel="license" href="https://creativecommons.org/licenses/by/4.0/">
          <img alt="This work is licensed under a Creative Commons Attribution 4.0 International License." src="images/licensebutton-by-40_88x31.png" />
        </a>
        </p>
        <p>
        Page last updated: {{page.last_modified_at | date: "%b %-d, %Y" }}<br>
        Site last updated: {{ site.time | date: "%b %-d, %Y"  }}
        </p>
      </div>
    </div>
  </div>
</footer>
