{% if include.onlanding %}
{% else %}
{% endif %}

{% if false %}

<aside role="banner" class="background-light banner-container">
  <div class="container">
    <div class="row m-0">
      <div class="col-lg-12 news-banner">
        <p class="m-0">
          Find preCICE at <a href="eccomas-wccm-2026.html">ECCOMAS-WCCM 2026</a> (Munich, July 19-24) or join the upcoming <a href="precice-online-training-2026-oct.html">online training</a>.
        </p>
      </div>
    </div>
  </div>
</aside>

{% endif %}
