{% comment %}{% raw %}

For landing-only news use:
{% if include.onlanding %}

For news visible on all pages use:
{% if true %}.

{% endraw %}{% endcomment %}

{% if false %}

<div class="background-light banner-container">
  <div class="container">
    <div class="row no-margin">
      <div class="col-lg-12 banner">
        <p class="no-margin">
          Find preCICE at the <a href="https://precice.org/eccomas-coupled-2023.html">ECCOMAS COUPLED 2023</a> this June
        </p>
      </div>
    </div>
  </div>
</div>

{% endif %}
