{% if include.onlanding %}
{% else %}
{% endif %}

{% if include.onlanding %}

<aside role="banner" class="background-light banner-container">
  <div class="container">
    <div class="row no-margin">
      <div class="col-lg-12 banner">
        <p class="no-margin">
          Submit your abstract to the <a href="eccomas-wccm-2026.html">preCICE session at WCCM 2026</a> (Munich, July 19-24) - Abstract deadline extended till Feb 9
        </p>
      </div>
    </div>
  </div>
</aside>

{% endif %}
