<!-- Navigation -->
<nav class="navbar navbar-expand-xl fixed-top" data-bs-theme="light" aria-label="Main">
    <div class="container topnavlinks">
        <div class="navbar-header navbar-header-group">
            <a class="navbar-brand no-icon" href="{{ '/index.html' | relative_url }}">
                <span class="navbar-brand-icon">
                    <img class="navbar-brand-text" src="images/preCICE_text_28px.svg" alt="preCICE">
                </span>
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#bs-example-navbar-collapse-1" aria-controls="bs-example-navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav ms-auto">
                <!-- entries without drop-downs appear here -->
                {% assign topnav_key = page.topnav | default: 'topnav' %}
                {% assign topnav = site.data[topnav_key] %}
                {% assign topnav_dropdowns = topnav.topnav_dropdowns %}

                {% for entry in topnav.topnav %}
                {% for item in entry.items %}
                {% assign section_sidebar = item.section | append: '_sidebar' %}
                {% if item.external_url %}
                <li><a href="{{item.external_url}}" target="_blank" rel="noopener">{{item.title}}</a></li>
                {% elsif page.url contains item.url %}
                <li class="active"><a href="{{item.url | remove: "/"}}">{{item.title}}</a></li>
                {% elsif page.sidebar == section_sidebar %}
                <li class="active"><a href="{{item.url | remove: "/"}}">{{item.title}}</a></li>
                {% else %}
                <li><a href="{{item.url | remove: "/"}}">{{item.title}}</a></li>
                {% endif %}
                {% endfor %}
                {% endfor %}

                <!-- entries with drop-downs appear here -->
                {% if topnav_dropdowns %}
                {% for entry in topnav_dropdowns %}
                {% for folder in entry.folders %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">{{ folder.title }}</a>
                    <ul class="dropdown-menu">
                        {% for folderitem in folder.folderitems %}
                        {% if folderitem.external_url %}
                        <li><a href="{{folderitem.external_url}}" target="_blank" rel="noopener">{{folderitem.title}}</a></li>
                        {% elsif page.url contains folderitem.url %}
                        <li class="dropdownActive"><a href="{{folderitem.url |  remove: "/"}}">{{folderitem.title}}</a></li>
                        {% else %}
                        <li><a href="{{folderitem.url | remove: "/"}}">{{folderitem.title}}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
                {% endfor %}
                {% endif %}

                <!--comment out this block if you want to hide search-->
                    <!--start search-->
                <li class="navbar-search-li">
                    <div id="search-demo-container">
                        <div id="search-input"></div>
                        <div id="search-results"></div>
                        {% include algolia.html %}
                    </div>
                </li>
                    <!--end search-->
                <li>
                    <a class="no-icon nav-external" href="https://precice.discourse.group" target="_blank" rel="noopener noreferrer" aria-label="Join the discourse community"><i class="fab fa-discourse"></i></a>
                </li>
                <li>
                    <a class="no-icon nav-external" href="https://github.com/precice" target="_blank" rel="noopener noreferrer" aria-label="Star precice/precice on GitHub"><i class="fab fa-github"></i></a>
                </li>
                <li>
                    <a class="no-icon nav-external" href="https://www.linkedin.com/company/precice" target="_blank" rel="noopener noreferrer" aria-label="Follow us on LinkedIn"><i class="fab fa-linkedin"></i></a>
                </li>
                    <!-- rel="me" required by Mastodon for verification -->
                <li>
                    <a rel="me noopener noreferrer" class="no-icon nav-external" href="https://fosstodon.org/@precice" target="_blank" aria-label="Follow us on Mastodon"><i class="fab fa-mastodon"></i></a>
                </li>
                <li>
                    <a class="no-icon nav-external" href="https://www.youtube.com/c/preCICECoupling/" target="_blank" rel="noopener noreferrer" aria-label="Subscribe on Youtube"><i class="fab fa-youtube"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
