{{ define "main" }}
{{ if eq (site.Params.output | default "web") "pdf" }}
<section class="post-content">
  <header class="post-header">
    <h1 class="post-title-main" id="{{ .RelPermalink | replaceRE "[^A-Za-z0-9_-]" "" }}">{{ .Title }}</h1>
  </header>

  {{ with .Params.summary }}
    <div class="summary">{{ . | markdownify }}</div>
  {{ end }}

  {{ partial "toc.html" . }}

  {{ partial "compat_content.html" . }}
</section>
{{ else }}
<section class="post-content">
  <header class="post-header">
    <h1 class="post-title-main">{{ .Title }}</h1>
  </header>

  {{ with .Params.summary }}
    <div class="summary">{{ . | markdownify }}</div>
  {{ end }}

  <div class="row">
    <div class="col-md-9">
      {{ partial "toc.html" . }}
    </div>
    <div class="col-md-3">
      {{ partial "edit_button.html" . }}
    </div>
  </div>

  {{ partial "compat_content.html" . }}

  {{ $pages := .RegularPages }}
  {{ if $pages }}
    <div class="list-pages mt-4">
      {{ range $pages.ByTitle }}
        <article class="mb-3">
          <h2 class="h4"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
          {{ with .Params.summary }}<p>{{ . | markdownify }}</p>{{ end }}
        </article>
      {{ end }}
    </div>
  {{ end }}
</section>
{{ end }}
{{ end }}
