{{ define "main" }}
{{ if eq (site.Params.output | default "web") "pdf" }}
<article class="post-content">
  <header class="post-header">
    <h1 class="post-title-main" id="{{ .RelPermalink | replaceRE "[^A-Za-z0-9_-]" "" }}">{{ .Title }}</h1>
  </header>

  {{ with .Params.summary }}
    <div class="summary">{{ . | markdownify }}</div>
  {{ end }}

  {{ partial "compat_content.html" . }}
</article>
{{ else }}
<article class="post-content">
  <header class="post-header">
    <h1 class="post-title-main">{{ .Title }}</h1>
  </header>

  {{ with .Params.summary }}
    <div class="summary">{{ . | markdownify }}</div>
  {{ end }}

  <div class="row">
    <div class="col-md-9">
      {{ partial "toc.html" . }}
    </div>
    <div class="col-md-3">
      {{ partial "edit_metadata.html" . }}
    </div>
  </div>

  {{ partial "compat_content.html" . }}

  {{ with .Params.tags }}
    <div class="tags mt-4">
      <b>Tags: </b>
      {{ range . }}
        <a href="{{ printf "tag_%s.html" . | relURL }}" class="btn btn-outline-secondary cursorNorm" role="button">{{ . }}</a>
      {{ end }}
    </div>
  {{ end }}
  {{ partial "breadcrumb.html" . }}
</article>
{{ end }}
{{ end }}
