<footer class="background-dark">
  <div class="container">
    {{ if not .IsHome }}
      <div class="row">
        <div class="col-12 col-sm-10 col-md-6 col-lg-5 col-xl-4 bg-white rounded-4 p-4 mx-auto mb-5">
          <h2 class="text-center fs-5 fw-medium mt-1 mb-3 text-dark" style="font-family: 'Fira Sans', Roboto, sans-serif;">The preCICE newsletter</h2>
          {{ partial "newsletter.html" . }}
        </div>
      </div>
    {{ end }}

    <div class="row text-center">
      <div class="col-md-4">
        <nav aria-label="Footer left">
          <ul class="list-unstyled">
            <li><a href="{{ "fundamentals-literature-guide.html" | relURL }}">Cite preCICE</a></li>
            <li><a href="{{ "community-contribute-to-precice.html" | relURL }}">Contribute</a></li>
            <li><a href="{{ "community-support-precice.html" | relURL }}">Get support</a></li>
            <li><a href="{{ "community-training.html" | relURL }}">Get training</a></li>
          </ul>
        </nav>
      </div>

      <div class="col-md-4">
        <nav aria-label="Footer right">
          <ul class="list-unstyled">
            <li><a class="no-icon" href="https://precice.discourse.group">Forum on Discourse</a></li>
            <li><a class="no-icon" href="https://github.com/precice">preCICE on GitHub</a></li>
            <li><a href="{{ "fundamentals-license.html" | relURL }}">License</a></li>
            <li><a href="{{ "about.html" | relURL }}">Impressum / Legal</a></li>
          </ul>
        </nav>
      </div>

      <div class="col-md-4">
        <p>
          <a class="no-icon" rel="license" href="https://creativecommons.org/licenses/by/4.0/">
            <img alt="This work is licensed under a Creative Commons Attribution 4.0 International License." src="{{ "/images/licensebutton-by-40_88x31.png" | relURL }}">
          </a>
        </p>
        <p>
          Page last updated: {{ .Lastmod.Format "Jan 2, 2006" }}<br>
          Site last updated: {{ now.Format "Jan 2, 2006" }}
        </p>
        <p><i class="fas fa-shield-halved" aria-hidden="true"></i> This website does not use cookies</p>
      </div>
    </div>
  </div>
  <script src="{{ "js/copy-code.js" | relURL }}"></script>
</footer>
