---
title: preCICE - The Coupling Library
permalink: index.html
keywords:
toc: false
hide_sidebar: true
layout: landing_page
---

<!-- <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Spartan:wght@400;500;600&display=swap" rel="stylesheet">
 -->
<div class="fake-jumbotron" style="/*background-color: #ECF7FE;*/ border-bottom: 1px solid #ED762C; border-top: 1px solid #0A76BB;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="banner" style="margin-bottom: -10px; padding: 15px 0; color: #040606;">
          <p><strong>Now also on YouTube:</strong> Subscribe to our new <a href="https://www.youtube.com/channel/UCxZdSQdmDrheEqxq8g48t6A">YouTube channel</a>, where you can also find the talks from the preCICE Workshop 2020.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div id="main">
    <!-- <div class="row"> -->

      <style>
        .action-button {
          margin-right: 4px;
          margin-bottom: 50px;
        }
        .no-margin {
          margin: 0;
        }
      </style>

      <div class="row">
        <div class="col-lg-12">
          <!-- <h1 class="mt-4">Welcome to <span><img src="images/icon.png" style="margin-top: 0; height: 36px">&nbsp;preCICE</span></h1> -->
          <h1 class="title">Welcome to <span class="precice-font icon">preCICE</span></h1>
          <h2 class="subtitle">The Coupling Library for Partitioned Multi-Physics Simulations.</h2>
          <div style="">
            <a href="/quickstart.html" class="btn btn-primary notExternal action-button" role="button">Get started &nbsp;<i class="fas fa-chevron-right"></i></a>
            <a href="https://github.com/precice/precice/releases/tag/v2.1.1" class="btn btn-secondary notExternal action-button" role="button">Download v2.1.1 &nbsp;<i class="fas fa-download"></i></a>
            <a href="https://github.com/precice/precice/" class="btn btn-default notExternal action-button" role="button">Star on Github &nbsp;<i class="fas fa-star"></i></a>
          </div>
        </div>
      </div>


      <!-- Intro Content -->
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <p>preCICE is an <strong>open-source coupling library</strong> for partitioned multi-physics simulations, including, but not restricted to fluid-structure interaction and conjugate heat transfer simulations.</p>
          <p>Partitioned means that <strong>preCICE couples existing programs/solvers</strong> capable of simulating a subpart of the complete physics involved in a simulation. This allows for the high flexibility that is needed to keep a decent time-to-solution for complex multi-physics scenarios.<p>
          <p class="no-margin">The software offers convenient methods for transient equation coupling, communication, and data mapping.<p>
        </div>
        <div class="col-md-6 col-sm-6">
          <img class="img-responsive" src="images/coupled-three-participants.png" alt="">
        </div>
      </div>
      <!-- /.row -->

      <style>
        p.usp-lead {
          font-size: 1.2em;
          font-weight: 400;
        }
        p.usp-link {
          margin: 10px 0 0 0;
        }
        ul.usp {
          padding-inline-start: 30px;
        }
        li.usp {
          list-style-image: url(images/precice-icon_small.svg);
          margin-bottom: 0.5em;
        }
        div.panel.usp {
          height: 100%;
          width: 100%;
          margin-bottom: 0;
        }
      </style>

      <div class="row">
        <div class="col-lg-12">
          <h2 class="page-header">Prepared for the Next Generation of Multi-Physics Simulations</h2>
        </div>
      </div>

      <div class="row equal">
        <div class="col-md-3 col-sm-6">
          <div class="panel panel-default text-center usp">
            <div class="panel-heading">
              <img src="images/placeholder/placeholder.png" style="height: 150px; margin: 0;">
            </div>
            <div class="panel-body text-left">
              <p class="usp-lead">Minimally invasive integration</p>
                <ul class="usp">
                  <li class="usp">elegant library approach</li>
                  <li class="usp">high-level API in C++, C, Fortran, Python, Matlab</li>
                </ul>
                <p class="usp-link"><a href="#">Learn more &nbsp;<i class="fas fa-chevron-right"></i></a></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="panel panel-default text-center usp">
            <div class="panel-heading">
              <img src="images/placeholder/placeholder.png" style="height: 150px; margin: 0;">
            </div>
            <div class="panel-body text-left">
              <p class="usp-lead">Coupling of arbitrary many programs</p>
                <ul class="usp">
                  <li class="usp">arbitrary combinations of strong and weak interactions</li>
                </ul>
              <p class="usp-link"><a href="#">Learn more &nbsp;<i class="fas fa-chevron-right"></i></a></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="panel panel-default text-center usp">
            <div class="panel-heading">
              <img src="images/placeholder/placeholder.png" style="height: 150px; margin: 0;">
            </div>
            <div class="panel-body text-left">
              <p class="usp-lead">State-of-the-art numerical methods</p>
                <ul class="usp">
                  <li class="usp">robust quasi-Newton acceleration</li>
                  <li class="usp">radial-basis function data mapping</li>
                </ul>
                <p class="usp-link"><a href="#">Learn more &nbsp;<i class="fas fa-chevron-right"></i></a></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="panel panel-default text-center usp">
            <div class="panel-heading">
              <img src="images/placeholder/placeholder.png" style="height: 150px; margin: 0;">
            </div>
            <div class="panel-body text-left">
              <p class="usp-lead">Scalability up to complete supercomputers</p>
                <ul class="usp">
                  <li class="usp">pure peer-to-peer approach</li>
                  <li class="usp">efficient also on a laptop</li>
                </ul>
              <p class="usp-link"><a href="#">Learn more &nbsp;<i class="fas fa-chevron-right"></i></a></p>
            </div>
          </div>
        </div>

      </div>

      <style>
        img.adapter.portrait {
          width: 80%;
        }
        div.panel.adapter {
          height: 100%;
          width: 100%;
          margin-bottom: 0;
          border: 1px solid #ECF7FE;
          background-color: #ECF7FE;
        }
        div.panel.adapter:hover {
          background-color: whitesmoke;
          color: #333;
          text-decoration: none;
          border: 1px solid #0A76BB;
        }
        a.adapter {
          color: black;
          text-decoration: none;
        }
        div.image-holder {
          min-height: 140px; padding: 15px;
        }
        .panel-title {
          font-size: 1.2em;
          font-weight: 400;
          color: black;
        }

      </style>

      <div class="row">
        <div class="col-lg-12">
          <h2 class="page-header">Ready-to-Use With Your Favourite Open-Source Solver</h2>
        </div>
        <div class="col-lg-12">
          <p>There are various codes - free and proprietary ones - currently coupled with preCICE. Pick one of our most popular adapters below or check out our long list of <a href="#">official and third-party coupled codes</a>.</p>
        </div>
      </div>

      <div class="row equal">
        <div class="col-md-2 col-xs-4">
          <a class="adapter" href="#"><div class="panel panel-default text-center adapter">
            <div class="vertical-align image-holder">
              <img class="img-responsive adapter center-block" src="images/logo/logo_openfoam.png">
            </div>
            <div class="panel-body">
              <span class="panel-title">OpenFOAM</span> &nbsp;<i class="fas fa-chevron-right"></i>
            </div>
          </div></a>
        </div>
        <div class="col-md-2 col-xs-4">
          <a class="adapter" href="#"><div class="panel panel-default text-center adapter">
            <div  class="vertical-align image-holder" style="">
              <img class="img-responsive img-circle adapter portrait center-block" src="images/logo/logo_calculix.png" style="border: 1px solid #0A76BB;">
            </div>
            <div class="panel-body">
              <span class="panel-title">CalculiX</span> &nbsp;<i class="fas fa-chevron-right"></i>
            </div>
          </div></a>
        </div>
        <div class="col-md-2 col-xs-4">
          <a class="adapter" href="#"><div class="panel panel-default text-center center-block adapter">
            <div  class="vertical-align image-holder" style="">
              <img class="img-responsive adapter portrait center-block" src="images/logo/logo_fenics.png" style="">
            </div>
            <div class="panel-body">
              <span class="panel-title">FEniCS</span> &nbsp;<i class="fas fa-chevron-right"></i>
            </div>
          </div></a>
        </div>
        <div class="col-md-2 col-xs-4">
          <a class="adapter" href="#"><div class="panel panel-default text-center adapter">
            <div class="vertical-align image-holder" style="">
              <img class="img-responsive adapter center-block" src="images/logo/logo_dealii.png" style="">
            </div>
            <div class="panel-body">
              <span class="panel-title">deal.II</span> &nbsp;<i class="fas fa-chevron-right"></i>
            </div>
          </div></a>
        </div>
        <div class="col-md-2 col-xs-4">
          <a class="adapter" href="#"><div class="panel panel-default text-center adapter">
            <div class="vertical-align image-holder" style="">
              <img class="img-responsive img-circle adapter portrait center-block" src="images/logo/logo_nutils.jpg" style="border: 1px solid #0A76BB;">
            </div>
            <div class="panel-body">
              <span class="panel-title">Nutils</span> &nbsp;<i class="fas fa-chevron-right"></i>
            </div>
          </div></a>
        </div>
        <div class="col-md-2 col-xs-4 text-center adapter">
          <br><br> <!-- ToDo -->
          <div class="text-center">
            <i class="fas fa-chevron-circle-right fa-4x"></i>
            <br><br> <!-- ToDo -->
            <a href="#" class="btn btn-default" role="button">All adapters &nbsp;<i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div> <!-- end row -->

      



      


      <style>
        i.fa-quote-left{
          color: darkgrey;
          padding-right: 0.5em;
        }
        i.fa-quote-left, i.fa-quote-right {
          color: darkgrey;
          padding-left: 0.5em;
        }
        p.quote {
          font-size: 1.2em;
          font-weight: 400;
        }
        img.testimonial {
          border-radius: 50%;
          border: 1px solid #ddd;
          height: 100px;
          width: 100px;
          float: left;
          margin: 0 15px 0 0;
        }
      </style>

      <div class="row">
        <div class="col-lg-12">
          <h2 class="page-header">What Our Community Is Saying</h2>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="panel panel-body" style="background-color: whitesmoke;">
            <p class="quote"><i class="fas fa-quote-left"></i>The large number of coupling functionalities in preCICE gives the user the opportunity to build advanced and scalable simulations with ease.<i class="fas fa-quote-right"></i></p>
            <div class="vertical-align">
              <img class="testimonial" src="images/testimonial_derek_square.jpg">
              <div>
                <p><strong>—Derek Risseeuw</strong></p>
                <p>Aerodynamics, Faculty of Aerospace Engineering, TU Delft, The Netherlands</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="panel panel-body" style="background-color: #ECF7FE;">
            <p class="quote"><i class="fas fa-quote-left"></i>We are using preCICE as it can handle numerical simulations of large sizes with ease as opposed to previous in-house couplers.<i class="fas fa-quote-right"></i></p>
            <div class="vertical-align">
              <img class="testimonial" src="images/testimonial_kyle_square.jpg">
              <div>
                <p><strong>—Kyle Davis</strong></p>
                <p>University of the Free State, Department of Cardiothoracic Surgery, South Africa</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="panel panel-body" style="background-color: whitesmoke;">
            <p class="quote"><i class="fas fa-quote-left"></i>Collaborating with the developer from preCICE team has been instrumental for us to further develop our inhouse capability for this type of simulation platform.<i class="fas fa-quote-right"></i></p>
            <div class="vertical-align">
              <img class="testimonial" src="images/testimonial_vinhtan_square.jpg">
              <div>
                <p><strong>—Vinh-Tan Nguyen, PhD</strong></p>
                <p>Institute of High Performance Computing, A*STAR, Singapore</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <a href="#" class="btn btn-default" role="button">Explore Testimonials &nbsp;<i class="fas fa-chevron-right"></i></a>
        </div>
      </div>


      <div class="row">
        <div class="col-lg-12">
          <h2 class="page-header">Academic at Heart, 100% Free Software</h2>
        </div>
      </div>

      <div class="row">

        <div class="col-md-5 ">
          <p>preCICE is developed at the Chair of Scientific Computing at the Technical University of Munich and at the Institute for Parallel and Distributed Systems at the University of Stuttgart.</p>
          <p>You can cite the preCICE library using the following paper. Please also consider citing the adapters you use. You can find the respective references in the documentation of our adapters and in our <a href="#">literature guide</a>.</p>
        </div>

        <div class="col-md-7 vertical-align">

          <div class="col-md-3 text-center">
            <img src="images/logo/logo_tum_400px.png" style="max-width: 100px;">
          </div>
          <div class="col-md-3 text-center">
            <img src="images/logo/logo_stuttgart_400px.png" style="max-height: 100px;">
          </div>
          <div class="col-md-3 text-center">
            <img src="images/logo/logo_tue_400px.png" style="max-width: 100px;">
          </div>
          <div class="col-md-3 text-center">
            <i class="fab fa-github fa-5x"></i>
            <p style="padding-top: 1em;"><strong>preCICE on Github</strong></p>
          </div>
        </div>
      </div>

      <div class="row" style="padding-top: 40px;">
        <div class="col-md-10 col-md-offset-1">
          <div class="row panel panel-primary">
            <div class="col-md-3 col-sm-3 text-center" style="float: left; background-color: white; border-right: 0px solid #0A76BB; padding: 20px;">
              <a class="book-container notExternal" href="http://www.sciencedirect.com/science/article/pii/S0045793016300974" target="_blank" rel="noreferrer noopener">
                <div class="book">
                  <img alt="" src="images/paper-thumbnail.jpg" style="margin: 0;"/>
                </div>
              </a>
            </div>
            <div class="col-md-9 col-sm-9" style="padding: 0; border-left: 1px solid #0A76BB;">
              <div class="panel-primary">
                <div class="panel-heading">
                  <strong>preCICE -- A Fully Parallel Library for Multi-Physics Surface Coupling</strong>
                </div>
                <div class="panel-body">
                  <p><em>Hans-Joachim Bungartz, Bernhard Gatzhammer, Florian Lindner, Miriam Mehl, Klaudius Scheufele, Alexander Shukaev, Benjamin Uekermann</em>, <strong>2016</strong>. In Computers and Fluids, Volume 141, p. 250––258. Elsevier.</p>
                  <a href="http://www.sciencedirect.com/science/article/pii/S0045793016300974">Publisher's Site</a>&nbsp;&nbsp;
                  <a href="assets/precice.bib" class="">Download BibTeX &nbsp;<i class="fas fa-download"></i></a>
                  <br><br>
                  <div class="text-left">
                    <a href="community.html" class="btn btn-default" role="button">Long publication list &nbsp;<i class="fas fa-chevron-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-lg-12">
          <h2 class="page-header">Tried and Tested by a Global Community</h2>
        </div>
        <div class="col-lg-12">
          <p>Through the community-driven development approach preCICE has become the leading coupling library for multi-physics simulations both in research and practice. preCICE is in active use on all continents apart from Antarctica. The wide variety of application fields include ranges from fluid simulation to austronautics, automotive manufacturing, aerodynamics, wind energy, biomechanics, biomimetics </a href="#">and many more.</a></p>
        </div>
      </div>

      <style>
        .logo, .logo > div, .logo > p {
          color: #333;
          opacity: 0.35;
          filter: grayscale(100%);
          transition: all 500ms;
        }
        .logo > p {
          margin: 0;
          text-decoration: none;
        }
        .logo:hover, .logo:hover > div, .logo:hover > p {
          opacity: 1;
          filter: grayscale(0%);
          text-decoration: none;
        }
        .logo:hover > div {
          transform: scale(1.15);
        }
        p.institution {
          font-size: 0.9em;
          font-weight: 700;
          margin-top: 0.25em;
        }
        p.country {
          font-size: 0.8em;
          font-weight: 400;
          margin-top: -0.25em;
          margin-bottom: 1em;
        }
        div.logo-holder {
          height: 75px;
        }
        div.logo-holder > img {
          max-height: 75px;
        }
        .no-padding {
          padding: 0;
        }
      </style>

      {% assign logowall = site.data.logowall %}

      {% for row in logowall %}
      <div class="row">
      {% for column in row.columns %}
        <div class="col-md-6 col-xs-12 no-padding">
      {% for logo in column.logos %}
          <div class="col-md-3 col-sm-3 col-xs-3 text-center"> <!--  vertical-align -->
            <a href="{{logo.link}}" class="logo notExternal">
              <div class="logo-holder vertical-align "> <!-- center-block -->
                <img class="img-responsive center-block" src="images/logo/{{logo.logo}}" alt="{{logo.name}}, {{logo.country}}">
              </div>
              <p class="institution">{{logo.name}}</p>
              <p class="country">{{logo.country}}</p>
            </a>
          </div>
      {% endfor %}
        </div>
      {% endfor %}
      </div>
      {% endfor %}


      <div class="row">
        <div class="col-lg-12">
          <h2 class="page-header">Frequently Asked Questions</h2>
        </div>
        <div class="col-lg-12">
          <p>FAQ</p>
        </div>
      </div>

      Landing Page Footer

    <!-- </div> -->
  </div>
</div>