---
title: preCICE - The Coupling Library
permalink: index.html
keywords:
toc: false
hide_sidebar: true
layout: landing_page
---

<div class="jumbotron-precice">
  <div class="container">
    <div class="row no-margin">
      <div class="col-lg-12 banner">
        <p><strong>Virtual preCICE workshop 2021</strong>: February 22-25. Early-bird registration is open now. <a href="precice-workshop-2021.html">Read more details</a>.</p>
      </div>
    </div>
  </div>
</div>

<!-- Lead stage -->

<div class="container">
  <div id="main">

    <div class="row">
      <div class="col-lg-12">
        <h1 class="title">Welcome to <img src="images/preCICE_logo_with-text_42px.svg" alt="preCICE"></h1>
        <h2 class="subtitle">The coupling library for partitioned multi-physics simulations.</h2>
        <div class="action-button-container">
          <a href="/quickstart.html" class="btn btn-primary notExternal action-button" role="button">Get started &nbsp;<i class="fas fa-chevron-right"></i></a>
          <a href="https://github.com/precice/precice/releases/tag/v2.1.1" class="btn btn-secondary notExternal action-button" role="button">Download v2.1.1 &nbsp;<i class="fas fa-download"></i></a>
          <a href="https://github.com/precice/precice/" class="btn btn-default notExternal action-button" role="button">Star on Github &nbsp;<i class="fas fa-star"></i></a>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <p>preCICE is the <strong>leading open-source coupling library</strong> for partitioned multi-physics simulations, including, but not restricted to fluid-structure interaction and conjugate heat transfer simulations.</p>
        <p>Partitioned means that <strong>preCICE couples existing programs/solvers</strong> capable of simulating a subpart of the complete physics involved in a simulation. This allows for the high flexibility that is needed to keep a decent time-to-solution for complex multi-physics scenarios.<p>
        <p class="no-margin">The software offers convenient methods for transient equation coupling, communication, and data mapping.<p>
      </div>
      <div class="col-md-6">
        <img class="img-responsive col-xs-12" src="images/lead-image-precice.svg" alt="visualisation of how preCICE couples different solvers">
        <!-- https://stackoverflow.com/questions/21943108/bootstrap-3-img-responsive-images-are-not-responsive-inside-fieldset-in-firefox -->
        <!-- <img class="img-responsive" src="images/coupled-three-participants.png" alt=""> -->
      </div>
    </div>

  </div> <!-- <div id="main"> -->
</div> <!-- <div class="container"> -->

<!-- USP Section, full blead layout  -->

<div class="background-light">
  <div class="container">
    <div id="main">

    <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header">Prepared for the next generation of multi-physics simulations</h2>
      </div>
    </div>

    <div class="row equal">
      <div class="col-md-3 col-sm-6 col-flex">
        <div class="image-holder usp">
            <img class="img-responsive center-block" src="images/usp/usp-minimal.svg" style="height: 150px;">
        </div>
        <div class="panel panel-primary panel-precice usp">
          <div class="panel-heading-precice text-left">
            <strong>Minimally invasive integration</strong>
          </div>
          <div class="panel-body">
            <ul class="usp">
              <li class="usp">Elegant library approach</li>
              <li class="usp">High-level API in C++, C, Fortran, Python, Matlab</li>
            </ul>
            <a href="couple-your-code-prerequisites.html">Learn more &nbsp;<i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-flex">
        <div class="image-holder usp">
            <img class="img-responsive center-block" src="images/usp/usp-arbitrary.svg" style="height: 150px;">
        </div>
        <div class="panel panel-primary panel-precice usp">
          <div class="panel-heading-precice text-left">
            <strong>Coupling of arbitrary many programs</strong>
          </div>
          <div class="panel-body">
            <ul class="usp">
              <li class="usp">Arbitrary combinations of strong and weak interactions</li>
              <li class="usp">Arbitrary many solvers</li>
            </ul>
            <a href="configuration-coupling-multi.html">Learn more &nbsp;<i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-flex">
        <div class="image-holder usp">
            <img class="img-responsive center-block" src="images/usp/usp-numerics.svg" style="height: 150px;">
        </div>
        <div class="panel panel-primary panel-precice usp">
          <div class="panel-heading-precice text-left">
            <strong>State-of-the-art numerical methods</strong>
          </div>
          <div class="panel-body">
            <ul class="usp">
              <li class="usp">Robust quasi-Newton acceleration</li>
              <li class="usp">Radial-basis function data mapping</li>
            </ul>
            <a href="fundamentals-literature-guide.html">Learn more &nbsp;<i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 col-flex">
        <div class="image-holder usp">
            <img class="img-responsive center-block" src="images/usp/usp-scalability.svg" style="height: 150px;">
        </div>
        <div class="panel panel-primary panel-precice usp">
          <div class="panel-heading-precice text-left">
            <strong>Scalability up to complete supercomputers</strong>
          </div>
          <div class="panel-body">
            <ul class="usp">
              <li class="usp">Pure peer-to-peer approach</li>
              <li class="usp">Efficient also on a laptop</li>
            </ul>
            <a href="fundamentals-literature-guide.html#high-performance-computing">Learn more &nbsp;<i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>

<!--     <div class="row">
      <div class="col-lg-12">
        <a href="#" class="btn btn-primary" role="button">Explore features &nbsp;<i class="fas fa-chevron-right"></i></a>
      </div>
    </div> -->

    </div> <!-- main -->
  </div> <!-- container -->
</div> <!-- background-light -->

<!-- Adapter section  -->
<div class="container">
  <div id="main">

    <div class="row">
      <div class="col-lg-12">
        <h2 class="page-header">Ready-to-use with your favourite open-source solver</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>There are various codes - free and proprietary ones - currently coupled with preCICE. Pick one of our official adapters below or check out <a href="community-projects.html">what the community did</a>.</p>
      </div>
    </div>

    <div class="row equal">
      <div class="col-md-2 col-md-4 col-xs-6 col-flex">
        <a class="adapter" href="adapter-openfoam-overview.html"><div class="panel panel-primary panel-body full-height text-center">
          <img class="img-responsive adapter center-block" src="images/logo/logo-openfoam.png" alt="openFOAM logo" title="Couple with openFOAM">
          <p>OpenFOAM &nbsp;<i class="fas fa-chevron-right"></i></p>
        </div></a>
      </div>
      <div class="col-md-2 col-md-4 col-xs-6 col-flex">
        <a class="adapter" href="adapter-calculix-overview.html"><div class="panel panel-primary panel-body full-height text-center">
          <img class="img-responsive adapter center-block" src="images/logo/logo-calculix.png" alt="CalculiX logo" title="Couple with CalculiX">
          <p>CalculiX &nbsp;<i class="fas fa-chevron-right"></i></p>
        </div></a>
      </div>
      <div class="col-md-2 col-md-4 col-xs-6 col-flex">
        <a class="adapter" href="adapter-fenics.html"><div class="panel panel-primary panel-body full-height text-center">
          <img class="img-responsive adapter center-block" src="images/logo/logo-fenics.png" alt="FEniCS logo" title="Couple with FEniCS">
          <p>FEniCS &nbsp;<i class="fas fa-chevron-right"></i></p>
        </div></a>
      </div>
      <div class="col-md-2 col-md-4 col-xs-6 col-flex">
        <a class="adapter" href="adapter-dealii-overview.html"><div class="panel panel-primary panel-body full-height text-center">
          <img class="img-responsive adapter center-block" src="images/logo/logo-dealii.png" alt="deal.II logo" title="Couple with deal.II">
          <p>deal.II &nbsp;<i class="fas fa-chevron-right"></i></p>
        </div></a>
      </div>
      <div class="col-md-2 col-md-4 col-xs-6 col-flex">
        <a class="adapter" href="adapter-nutils.html"><div class="panel panel-primary panel-body full-height text-center">
          <img class="img-responsive adapter center-block" src="images/logo/logo-nutils.png" alt="Nutils logo" title="Couple with Nutils">
          <p>Nutils &nbsp;<i class="fas fa-chevron-right"></i></p>
        </div></a>
      </div>
      <div class="col-md-2 col-md-4 col-xs-6 text-center">
        <a class="adapter" href="adapters-overview.html">
          <div class="img-equivalent vertical-align center-block">
            <i class="fas fa-chevron-right fa-4x orange center-block"></i>
          </div>
        </a>
        <a href="adapters-overview.html" class="btn btn-secondary adapter" role="button">All adapters &nbsp;<i class="fas fa-chevron-right"></i></a>
      </div>
    </div>

  </div> <!-- main -->
</div> <!-- container -->

<br><br>

<!-- Testimonials, full bleed layout -->

<div class="background-dark">
  <div class="container">
  <div id="main">

      <div class="row">
        <div class="col-lg-12">
          <h2 class="page-header">What our community is saying</h2>
        </div>
      </div>

      <div class="row equal">
        <div class="col-md-4 col-flex">
          <div class="panel panel-primary panel-body full-height">
            <p class="quote"><a href="community-projects.html#evaluation-of-heart-balve-biomechanics"><i class="fas fa-quote-left"></i>We are using preCICE as it can handle numerical simulations of large sizes with ease as opposed to previous in-house couplers.<i class="fas fa-quote-right"></i></a></p>
            <div class="vertical-align">
              <img class="testimonial" src="images/testimonial_kyle_square.jpg">
              <div>
                <p><strong>—Kyle Davis</strong></p>
                <p>University of the Free State, Department of Cardiothoracic Surgery, South Africa</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-flex">
          <div class="panel panel-primary panel-body full-height">
            <p class="quote"><a href="community-projects.html#fluid-structure-interaction-on-flapping-wings"><i class="fas fa-quote-left"></i>The large number of coupling functionalities in preCICE gives the user the opportunity to build advanced and scalable simulations with ease.<i class="fas fa-quote-right"></i></a></p>
            <div class="vertical-align">
              <img class="testimonial" src="images/testimonial_derek_square.jpg">
              <div>
                <p><strong>—Derek Risseeuw</strong></p>
                <p>Aerodynamics, Faculty of Aerospace Engineering, TU Delft, The Netherlands</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-flex">
          <div class="panel panel-primary panel-body full-height">
            <p class="quote"><a href="community-projects.html#fsi-simulations-of-high-impact-loads-on-structures"><i class="fas fa-quote-left"></i>Collaborating with the developer from preCICE  has been instrumental for us to further develop our inhouse capability for this type of simulation platform.<i class="fas fa-quote-right"></i></a></p>
            <div class="vertical-align">
              <img class="testimonial" src="images/testimonial_vinhtan_square.jpg">
              <div>
                <p><strong>—Vinh-Tan Nguyen, PhD</strong></p>
                <p>Institute of High Performance Computing, A*STAR, Singapore</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: -20px;">
        <div class="col-lg-12">
          <a href="community-projects.html" class="btn btn-primary" role="button">Explore all community projects &nbsp;<i class="fas fa-chevron-right"></i></a>
        </div>
      </div>

    </div> <!-- main -->
  </div> <!-- container -->
</div> <!-- dark-background -->

<div class="container">
  <div id="main">

      <div class="row">
        <div class="col-lg-12">
          <h2 class="page-header">Academic at heart, 100% free software</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <p>preCICE has been developed by three generations of doctoral candidates from the <a href="https://www.in.tum.de/i05">Chair of Scientific Computing</a> at the <strong>Technical University of Munich</strong> and from the <a href="https://www.ipvs.uni-stuttgart.de/">Institute for Parallel and Distributed Systems</a> at the <strong>University of Stuttgart</strong>.</p>
          <p>You can <strong>cite the preCICE library</strong> using the following paper. Please also consider citing the adapters you use. You can find the respective references in our <a href="literature-guide-overview.html">literature guide</a>.</p>
        </div>
        <div class="col-md-6 vertical-align">
          <div class="col-md-4 col-xs-4 text-center">
            <a class="notExternal" href="https://www.in.tum.de/i05"><img class="img-responsive" src="images/logo/logo_tum_400px.png" style="max-width: 100px;"></a>
          </div>
          <div class="col-md-4 col-xs-4 text-center">
            <a class="notExternal" href="https://www.ipvs.uni-stuttgart.de/"><img class="img-responsive" src="images/logo/logo_stuttgart_400px.png" style="max-width: 100px;"></a>
          </div>
          <div class="col-md-4 col-xs-4 text-center">
            <a class="notExternal" href="https://github.com/precice/precice" style="color: #333;"><i class="fab fa-github fa-4x"></i></a>
            <p style="padding-top: 1em;"><strong>preCICE on Github</strong></p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-0 hidden-xs text-center" style="">
          <a class="book-container notExternal" href="http://www.sciencedirect.com/science/article/pii/S0045793016300974" target="_blank" rel="noreferrer noopener">
            <div class="book center-block">
              <img alt="preCICE reference paper" src="images/paper-thumbnail.jpg" style="margin: 0;" title="preCICE -- A Fully Parallel Library for Multi-Physics Surface Coupling">
            </div>
          </a>
        </div>
        <div class="col-md-7 col-sm-9 col-xs-12">
          <div class="panel panel-primary panel-precice">
            <div class="panel-heading-precice">
              <strong>preCICE -- A Fully Parallel Library for Multi-Physics Surface Coupling</strong>
            </div>
            <div class="panel-body">
              <p><em>Hans-Joachim Bungartz, Bernhard Gatzhammer, Florian Lindner, Miriam Mehl, Klaudius Scheufele, Alexander Shukaev, Benjamin Uekermann</em>, <strong>2016</strong>. In Computers and Fluids, Volume 141, p. 250––258. Elsevier.</p>
              <a href="http://www.sciencedirect.com/science/article/pii/S0045793016300974">Publisher's Site</a>&nbsp;&nbsp;
              <a href="assets/precice.bib" class="">Download BibTeX &nbsp;<i class="fas fa-download"></i></a>
            </div>
          </div>
          <!-- <div class="text-left"> -->
                <a href="fundamentals-literature-guide.html" class="btn btn-default" role="button">Literature Guide &nbsp;<i class="fas fa-chevron-right"></i></a>
            <!-- </div> -->
        </div>
      </div>

  </div>
</div>

<div class="background-light">
  <div class="container">
    <div id="main">

      <div class="row">
        <div class="col-lg-12">
          <h2 class="page-header">Frequently asked questions</h2>
        </div>
      </div>

      <div class="row equal">
        <div class="col-md-4 col-sm-6 col-flex">
          <div class="panel panel-primary panel-precice usp">
            <div class="panel-heading-precice text-left">
              <strong>Can preCICE be used for volume coupling?</strong>
            </div>
            <div class="panel-body">
              <p>Yes, but it will be computationally expensive. preCICE is mainly designed to couple simulations that share ...</p>
              <a class="notExternal" href="https://precice.discourse.group/t/can-precice-be-used-for-volume-coupling/27/2">Learn more &nbsp;<i class="fas fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-flex">
          <div class="panel panel-primary panel-precice usp">
            <div class="panel-heading-precice text-left">
              <strong>What are best practices to write a new adapter?</strong>
            </div>
            <div class="panel-body">
              <p>I wanted to ask if there are some additional guidelines on how to write good adapters for preCICE. I have the feeling that ...</p>
              <a class="notExternal" href="https://precice.discourse.group/t/what-are-best-practices-to-write-a-new-adapter/44">Learn more &nbsp;<i class="fas fa-chevron-right" ></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-flex">
          <div class="panel panel-primary panel-precice usp">
            <div class="panel-heading-precice text-left">
              <strong>Can preCICE be used for one-way coupling?</strong>
            </div>
            <div class="panel-body">
              <p>Yes! Several people are doing this already. Even though there may be other ways to do one-way coupling, it may ...</p>
              <a class="notExternal" href="https://precice.discourse.group/t/can-precice-be-used-for-one-way-coupling/28/2">Learn more &nbsp;<i class="fas fa-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <a href="https://precice.discourse.group/tag/faq?order=views" class="btn btn-primary notExternal" role="button">More questions &nbsp;<i class="fas fa-chevron-right"></i></a>
        </div>
      </div>

    </div> <!-- main -->
  </div> <!-- container -->
</div> <!-- background-light -->


<div class="container">
  <div id="main">

      <div class="row">
        <div class="col-lg-12">
          <h2 class="page-header">Tried and tested by a global community</h2>
        </div>
      </div>

      <div class= "row less-bottom-margin">
        <div class="col-lg-12">
          <p>Through the <strong>community-driven development</strong> approach preCICE has become one of the leading coupling library for multi-physics simulations both in <strong>academia and industry</strong>. The wide variety of application fields ranges from aerodynamics to austronautics, automotive manufacturing, wind energy, biomechanics, biomimetics, marine engineering, nuclear fusion, reactor safety, geophysical systems, and many more.</p>
        </div>
      </div>

      {% assign logowall = site.data.logowall %}

      {% for row in logowall %}
      <div class="row no-margin">
      {% for column in row.columns %}
        <div class="col-md-6 col-xs-12 no-padding">
      {% for logo in column.logos %}
          <div class="col-md-3 col-sm-3 col-xs-3 text-center"> <!--  vertical-align -->
            <a href="{{logo.link}}" class="logo notExternal">
              <div class="logo-holder vertical-align "> <!-- center-block -->
                <img class="img-responsive center-block" src="images/logo/{{logo.logo}}" alt="{{logo.name}}, {{logo.country}}">
              </div>
              <p class="institution">{{logo.name}}</p>
              <p class="country">{{logo.country}}</p>
            </a>
          </div>
      {% endfor %}
        </div>
      {% endfor %}
      </div>
      {% endfor %}

      <div class="row" style="margin-top: -20px;">
        <div class="col-lg-12">
          <a href="community.html" class="btn btn-primary" role="button">The preCICE community &nbsp;<i class="fas fa-chevron-right"></i></a>
        </div>
      </div>

    </div>
  </div>



      <!-- <div class="row">
        <div class="col-lg-12">
          <h2 class="page-header">Code Example Potentially</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>Some text here.</p>
        </div>
        <div class="col-md-6">
          <p>Some text there.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <h2 class="page-header">Everything Else</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p>Text</p>
        </div>
      </div> -->

    <!-- </div> -->
<!--   </div>
</div>
 -->