<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <script>
        $(document).ready(function() {
            // Initialize navgoco with default options
            $("#mysidebar").navgoco({
                caretHtml: '',
                accordion: true,
                openClass: 'active', // open
                save: false, // leave false or nav highlighting doesn't work right
                cookie: {
                    name: 'navgoco',
                    expires: false,
                    path: '/'
                },
                slide: {
                    duration: 400,
                    easing: 'swing'
                }
            });

            $("#collapseAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', false);
            });

            $("#expandAll").click(function(e) {
                e.preventDefault();
                $("#mysidebar").navgoco('toggle', true);
            });

        });

    </script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <script>
        $(document).ready(function() {
            $("#tg-sb-link").click(function() {
                $("#tg-sb-sidebar").toggle();
                $("#tg-sb-content").toggleClass('col-md-9');
                $("#tg-sb-content").toggleClass('col-md-12');
                $("#tg-sb-icon").toggleClass('fa-toggle-on');
                $("#tg-sb-icon").toggleClass('fa-toggle-off');
            });
        });
    </script>
    <script>
        // wrap tables into a div to make them scrollable on small viewports
        // https://getbootstrap.com/docs/3.4/css/#tables-responsive
        $(document).ready(function() {
            $('table').addClass('table');
            $('table').wrap('<div class="table-responsive"></div>');
        });
    </script>
    {% if page.datatable == true %}
    <!-- Include the standard DataTables bits -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
    <!-- First, this walks through the tables that occur between ...-begin
         and ...-end and add the "datatable" class to them.
         Then it invokes DataTable's standard initializer
         Credit here: http://www.beardedhacker.com/blog/2015/08/28/add-class-attribute-to-markdown-table/
      -->
    <script>
      $(document).ready(function(){
          $('div.datatable-begin').nextUntil('div.datatable-end', 'table').addClass('display');
          $('table.display').DataTable( {
              paging: true,
              stateSave: true,
              searching: true
          });
       });
    </script>
    {% endif %}
</head>
<body>
    <header>
        {% include topnav.html %}
          <!-- News banner -->
          {% include news_banner.html onlanding=false %}
    </header>
    <div class="container" style="margin-bottom:50px">
        {% unless page.hide_sidebar %}
        <div class="row">
          <div class="col-md-3" id="tg-sb-sidebar">
            {% include sidebar.html %}
          </div>
          <main class="col-md-9" id="tg-sb-content">
            {{content}}
          </main>
        </div>
        {% else %}
        <main id="tg-sb-content">
          {{content}}
        </main>
        {% endunless %}
    </div>
    {% include footer.html %}

{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}
</body>

</html>
