name: Build the website
on:
  workflow_dispatch:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          submodules: true
          lfs: true
      - name: Restore cache
        uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-new-gems-${{ hashFiles('**/Gemfile.lock') }}
      - name: Build site
        uses:  helaili/jekyll-action@2.0.4
        with:
          build-only: true
      - name: Upload site
        uses: actions/upload-artifact@v2
        with:
          name: site
          path: _site/
