name: CheckLinks
on:
  workflow_dispatch:
  pull_request:

jobs:
  checklinks:
    name: Check Links
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          submodules: true
          lfs: true
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Build site
        run: bundle exec jekyll build
      - name: Install dependencies
        run: |
          gem install html-proofer
      - name: Check for broken links
        run: |
          htmlproofer --url-ignore "/#.*/" --assume-extension `.html` --allow-hash-href --empty-alt-ignore --disable-external ./_site

