name: Check links
on:
  workflow_dispatch:
  # Currently only set to manual, as we get many false positives,
  # in particular local links
jobs:
  check_links:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Check links in markdown files (markdown-link-check)
        uses: tcort/github-action-markdown-link-check@v1
        with:
          use-quiet-mode: 'yes'
          use-verbose-mode: 'no'
          config-file: '.markdown-link-check-config.json'
          folder-path: 'content/'
          # We also need to check 'collections/_testimonials/', but quoted links fail
