name: Update submodules
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: 'write'
    outputs:
      success: ${{ steps.commit.outputs.outcome  == 'success' }}
    steps:
      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ vars.WEBSITE_UPDATER_APPID }}
          private-key: ${{ secrets.WEBSITE_UPDATER_KEY }}
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          submodules: false
          lfs: true
          token: ${{ steps.app-token.outputs.token }}
      - name: Update submodules
        run: git submodule update --init --remote --force
      - name: Commit update
        id: commit
        continue-on-error: true
        run: |
          git config --local user.name "precice-bot"
          git config --local user.email "info@precice.org"
          git commit -m "Update submodules" -a
      - name: Push commit
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ steps.app-token.outputs.token }}
          branch: ${{ github.ref }}
